<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'semirestful/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css">
        <title>Users</title>
    </head>
    <body>
        <h1>Users</h1>
            <table>
                <tr>
                    <th class="col-md-1">id</th>
                    <th class="col-md-1">Full Name</th>
                    <th class="col-md-1">Email</th>
                    <th class="col-md-1">Created At</th>
                    <th class="col-md-1">Actions</th>
                </tr>
            {% for user in users %}
                <tr>
                    <td class="col-md-1">{{ user.id }}</td>
                    <td class="col-md-2">{{ user.first_name }} {{ user.last_name }}</td>
                    <td class="col-md-3">{{ user.email_address }}</td>
                    <td class="col-md-3">{{ user.created_at }}</td>
                    <td class="col-md-4"><a href="/users/{{user.id}}">Show</a> <a href="/users/{{user.id}}/edit">Edit</a> <a href="/users/{{user.id}}/destroy">Delete</a></td>
                </tr>
            {% endfor %}
            </table>
            <a href="users/new">Add a new user</a>
    </body>
</html>