<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'semirestful/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css">
        <title>Show</title>
    </head>
    <body>
        <h1>User {{ user.id }}</h1>
        <p>Full Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Email: {{ user.email_address }}</p>
        <p>Created At: {{ user.created_at }}</p>
        <a href="/users/{{ user.id }}/edit">Edit</a> | <a href="/users/{{ user.id }}/destroy">Delete</a> | <a href="/">Go Back</a>
    </body>
</html>