<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <link rel="stylesheet" href="{% static 'session_wd/css/style.css' %}" media="screen" title="no title"  charset="utf-8"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css">
        <title>Django Session Word Assignment</title>
    </head>
    <body>
        <div id=center-pane>
            <!-- <form >   -->

                    Hello World!!!!

            <!-- </form> -->
        </div>
        
    </body>
</html>